@media only screen and (min-width: 800px) { 

html {
  position: absolute;
  overflow-x:  hidden;
  width: 100%;
}
  
  .attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 1rem;
  }

  .attribution a { 
      color: hsl(228, 45%, 44%); 
  }

  header#hero {
    background-image: url("images/desktop/image-hero.jpg");
    width: 106%;
    background-size: cover;
    position: relative;
    background-position: center 0rem;
    height: 50rem;
    text-decoration-color: white;
    top: 0rem;
    z-index: 1;
    overflow: none;
}
 
.logo {
  width: 14rem;
  top: 4rem;
  position: absolute;
  left: 10%;
  height: 2.5rem;
}
   
  .hamburger {
    display: none;
    width: 2rem;
    height: 3rem;
  }

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
  }



#links {
    font-family: Alata;
    z-index: 5;
    position: absolute;
    float: right;
    right: 8rem;
    margin: 2rem;
    padding: 0rem;
    word-spacing: 2rem;
    top: 6rem;
    transition: 0.3s ease-in-out;

  }


  .about:hover, .careers:hover, .events:hover, .products:hover, .support:hover  {
    text-decoration: underline;
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;

    /*! top: 5rem; */
    /*! left: 4rem; */
    /*! padding: 4rem; */
  }

  .about, .careers, .events, .products, .support {
      display: table-cell;
      color: white;
      z-index: 5;
      position: relative;
      /*! width: 15rem; */
      word-spacing: 14rem;
      padding: .5rem;
      top: -1rem;
      transition:  0.3s ease-in-out;

    }


.desc {
  font-size: 10rem;
  top: 15rem;
  position: relative;
  left: 13rem;
  border: 0.3rem wheat solid;
  width: 40rem;
  height: 40%;
  text-align: center;
  font-family: Josefin Sans;
  color: wheat;
  font-weight: lighter;
  margin: 5%;

}


.line1, .line2, .line3 {
  font-size: 5rem;
  font-weight: 388;
  float: left;

  position: relative;
  /*! padding: 4rem 3rem; */
  margin: 1rem auto -2rem 1rem;
  padding: -1rem;
}

    



div.intro {
  height: 24rem;
  top: -17rem;
   position: relative; 
  z-index: 1;
  font-family: Josefin Sans, sans-serif;
  font-weight: 350;
  float: right;
  background-color: white;
  /*! margin-left: 13rem; */
  font-size: 3rem;
  width: 43rem;
  overflow: hidden;
  right: 27rem;
  /*! border: black .1rem solid; */
  text-align: left;
  padding: 4rem 6rem;
  left: -8rem;
}


.intro-desc-txt {
  font-size: 1.2rem;
  right: 0rem;
  position: relative;
}  
  
.vr-img {
  position: relative;
  left: 8rem;
  top: 7rem;
  height: 39rem;
  z-index: -1;
  width: 60rem;
}

.leader {
  /*! top: 23rem; */
  right: 6rem;
}
    

.intro-desc {
  height: 5rem;
}
    
.container-fluid {
  position: relative;
  top: 10rem;
  left: 2rem;
  display: grid;
  padding: 7rem;
}

  
.overlay {
  filter: brightness(0.8);
}
  
#grid {
  padding: 7rem 3rem;
  grid-gap: 2rem;
  overflow: none;
  width: 80rem;
  left: 0;
}

.see-all {
  position: relative;
  top: -1.7rem;
  left: -.4rem;
  /*! z-index: 2; */
  width: 12rem;
  height: 3rem;
}

#creations {
  display: inline-grid;
}

button {
  height: 3rem;
  background-color: white;
  border: .13rem black solid;
  font-family: Alata;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: light;
  width: 12rem;
  letter-spacing: 0.2rem;
  word-spacing: .5rem;
  position: relative;
  top: 25rem;
  left: 54rem;
  grid-area: button;
  z-index: 1;
}

  .button:hover {
    letter-spacing: 0.2rem;
    word-spacing: .5rem;
background-color: black;
width: 12rem;
height: 3rem;
position: relative;
color: white;
top: 25rem;
left: 54rem;
/*! grid-area: button; */
display: inline-grid;
}
  
h6.title {
  font-size: 2rem;
  color: white;
  top: 21rem;
  position: relative;
  width: 2rem;
  left: 3rem;
  font-weight: 200;
  letter-spacing: .1rem;
  z-index: 5;
  
}

  
.earth-title.title {
  position: relative;
  top: 21rem;
}
.earth:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}
  
.earth {
  background-image: url(images/desktop/image-deep-earth.jpg );
  height: 28rem;
  width: 16rem;
}

.arcade {
  background-image: url(images/desktop/image-night-arcade.jpg);
  height: 28rem;
  width: 16rem;
}

.arcade:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}

.arcade-title {
  font-size: 2rem;
  color: white;
  top: -7rem;
  position: relative;
  width: 2rem;
  left: 3rem;
  font-weight: 200;
  letter-spacing: .1rem;
}

.soccer {
  background-image: url(images/desktop/image-soccer-team.jpg);
  height: 28rem;
  width: 16rem;
}

.soccer:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}

.soccer-title2 {
  color: white;
  position: relative;
  top: -10rem;
  font-size: 2rem;
  font-weight: 300;
  right: -8.5rem;
  z-index: 5;
}
  
 
.soccer-title.title {
  display: block;
  width: 9rem;
}
  
.soccer-title {
  font-size: 2rem;
  color: white;
  top: -7rem;
  position: relative;
  width: 11rem;
  left: 3rem;
  font-weight: 200;
}

.car {
  background-image: url(images/desktop/image-grid.jpg);
  height: 28rem;
  width: 16rem;
}

.car:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}
.car-title {
  font-size: 2rem;
  color: white;
  top: -7rem;
  position: relative;
  width: 2rem;
  left: 3rem;
  font-weight: 200;
}


.up-above {
  background-image: url(images/desktop/image-from-above.jpg);
  height: 28rem;
  width: 16rem;
}

.up-above:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}

.up-above-title {
  font-size: 2rem;
  color: white;
  top: -5rem;
  position: relative;
  width: 10rem;
  /*! left: 2rem; */
  font-weight: 200;
  margin: -4rem -1rem;
}

.borealis {
  background-image: url(images/desktop/image-pocket-borealis.jpg);
  height: 28rem;
  width: 16rem;
}

.borealis:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}

.borealis-title {
  font-size: 2rem;
  color: white;
  top: -7rem;
  position: relative;
  width: 10rem;
  left: 2rem;
  font-weight: 200;
}

.curiosity {
  background-image: url(images/desktop/image-curiosity.jpg);
  height: 28rem;
  width: 16rem;
}

.curiosity:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}

.curiosity-title {
  font-size: 2rem;
  color: white;
  top: -7rem;
  position: relative;
  width: 10rem;
  left: 2rem;
  font-weight: 200;
}

.fisheye {
  background-image: url(images/desktop/image-fisheye.jpg);
  height: 28rem;
  width: 16rem;
}

.fisheye:hover {
  color: white;
  filter: opacity(70%);
  background-color: white;
}

.fisheye-title {
  font-size: 2rem;
  color: white;
  position: relative;
  width: 10rem;
  left: 2rem;
  font-weight: 200;
    margin: -2rem -1rem;
}
  
.container-fluid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  left: -13rem;
  /*! top: 31rem; */
}


.creations {
  grid-area: creations;
  display: grid;
  font-size: 4rem;
  padding-right: 56rem;
  font-weight: 200;
  position: relative;
  left: -2rem;
  top: 29rem;
  padding: 0rem;
  width: 5rem;
}


.overlay:hover {
  color: black;
  z-index: 5;
  position: relative;
  background: white;
  filter: opacity(78%);
}

  
.row {
  padding-left: 10rem;
}


.logo {
  position: relative;
}
.credit {
  position: relative;
  top: 8rem;
  background: black;
  height: 15rem;
  width: 100%;
}

  
.icons {
  position: relative;
  float: right;
  right: 3rem;
  /*! margin: 0rem; */
  padding: 2rem;
  top: -4rem;
  width: 28rem;
}

  
.facebook {
  padding: 1.2rem;
}
.twitter {
  padding: .2rem;
}
.pinterest {
  padding: 1.2rem;
}
.insta {
  padding: 0.2rem;
}
.reserved {
  top: 2rem;
  position: relative;
  left: 74rem;
}
  

#footer-links {
  position: relative;
  top: 7rem;
  left: 3rem;
  word-spacing: 2rem;
  color: white;
  z-index: 5;
  width: 40rem;
  height: 3rem;
}
  
  #footer-links:hover{
  position: relative;
  /*! top: 5rem; */
  /*! left: 0rem; */
  /*! width: 32rem; */
  word-spacing: 2rem;
  color: white;
  z-index: 5;
  text-underline-offset: 1rem;
}
}

@media only screen and (max-width: 800px)  {
  html {
     overflow-x: hidden;
     width: 100%;
  }
  
  
  #hero {
   background-image: url("images/mobile/image-hero.jpg");
    background-size: cover;
    height: 40rem;
   /*! padding-bottom: 15rem; */
   width: 100%;
  }
  
  .logo {
  width: 12rem;
  top: 2rem;
  position: absolute;
  left: 1rem;
  height: 2rem;
}

/* .hamburger {
   display: block;
  z-index: 8;
  /*! float: right; */
  /* position: absolute; */
  /*! width: 2px; */
  /* height: 2rem; */
  /* right: 0.5rem; */
  /* top: 0rem; */
/* } */ 


  
 #links {
   color: white;
   background-color: black;
    position:absolute;
    z-index: 6;
   /*! padding: 4rem; */
   height: 40rem;
   transition: 0.3s ease-in-out;

 }

 .about, .careers, .events, .products, .support {
   padding-top: 3rem;
   color: white;
   /*! height: 8rem; */
    position: sticky;
    z-index: 7;
    width: 19rem;
   font-family: Alata, sans-serif;
   text-transform: uppercase;
   font-size: 1.5rem;
   transition: 0.3s ease-in-out;

 }
 

 .about:hover, .careers:hover, .events:hover, .products:hover, .support:hover  {
   color: white;
   text-decoration: underline;
   transition: 0.3s ease-in-out;

  }
  
.links {
  display: none;
  height: 15rem;
  z-index: 1;
  transition: 3s ease-in-out;
}

.links .open {
  display: block;
  z-index: 1;
  color: white;
  height: 5rem;
  transition: 3s ease-in-out;

}

/* .bar1, .bar2, .bar3 {
  transition: 0.2s,  transform 0.3s ease-in-out;
  position: fixed;
  top: 5rem;
} */
.hamburger {
  position: fixed;
  top: auto;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  right: 2rem;
}

.bar1 {
  position: sticky;
  z-index: 10;
  margin: .3rem;
  cursor: pointer;
  display: block;
  background-color: white;
  width: 2rem;
  height: 0.3rem;
  position: fixed;
  right: 3rem;
  top: .9rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;

}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
  z-index: 10;
  cursor: pointer;
  display: block;
  width: 2.7rem;
  height: 0.3rem;
  position: fixed;
  right: 3rem;
  top: .9rem;
  border-radius: 2rem;
  transition: ease-in;
}



.bar2 {
  position: fixed;
  z-index: 10;
  margin: .3rem;
  cursor: pointer;
  display: flex;
  background-color: white;
  width: 2rem;
  height: 0.3rem;
  position: fixed;
  right: 3rem;
  top: 1.45rem;
  border-radius: 2rem;
  opacity: 100%;
}
.hamburger.active .bar:nth-child(4) {
  opacity: 0%;
  visibility: hidden;
  display: none;
  z-index: 0;
}

.bar3 {
  position: fixed;
  margin: .3rem;
  cursor: pointer;
  display: flex;
  border-radius: 2rem;
  z-index: 10;
  background-color: white;
  width: 2rem;
  height: 0.3rem;
  position: fixed;
  right: 3rem;
  top: 2rem;
  transition: all 0.35s ease-in-out;
}
.hamburger.active .bar:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
  opacity: 100%;
  position: fixed;
  margin: .3rem;
  cursor: pointer;
  display: flex;
  border-radius: 2rem;
  z-index: 10;
  background-color: white;
  width: 2.7rem;
  height: 0.3rem;
  position: fixed;
  right: 3rem;
  top: 1.8rem;
}

  .links li {
  width: 100%;
  flex-direction: column;
  position: relative;
  z-index: 5;
  background-color: black;
  height: 10rem;
  transition: all 2s ease-in-out;
}


  

  


.desc {
  position: absolute;
  display: block;
  top: 11rem;
  color: white;
  margin: 2rem;
  font-weight: lighter;
  width: 19rem;
  border: .2rem white solid;
  padding: 1.2rem;
  left: -1rem;
}

.line1, .line2, .line3 {
  font-size: 2.3rem;
  font-weight: lighter;
}
  

section {
}
.vr-img {
  padding-top: 5rem;
  /*! transform: scale(8%); */
  width: 19rem;
  margin: 1rem 1.5rem;
}
.leader {
  font-size: 2rem;
  margin: 0 3rem;
}
.vr.intro {
  font-size: 2rem;
  margin: 0rem 2.5rem;
}
.intro-desc {
  font-size: 1rem;
  margin: 1rem 4rem;
  text-align: center;
  color: grey;
  font-weight: 600;
}

  
.button {
  display: none;
}
.row {
  text-align: center;
  margin: 0rem 3.5rem;
  padding-top: 7rem;
}
.earth {
  height: 7rem;
  /*! margin-bottom: -3rem; */
  background-image: url(images/mobile/image-deep-earth.jpg);
  background-size: cover;
  background-position: 0rem 7rem;
  position: relative;
  top: 0rem;
  /*! color: black; */
  /*! filter: brightness(80%); */
  font-size: 50%;
  /*! background-color: rgba(0, 0, 0, .7); */
}

.arcade {
  height: 7rem;
  /*! background-image: url(images/mobile/image-night-arcade.jpg); */
  background-size:   cover;
  background-position: 0rem 0rem;
  position: relative;
  top: 1rem;

}

.soccer {
  height: 7rem;
  background-image: url(images/mobile/image-soccer-team.jpg);
  /*! background-position: cover; */
  background-size: cover;
  background-position: -3rem 0rem;
  /*! padding: 2rem; */
  position: relative;
  top: 2rem;
}

.car {
  background-image: url(images/mobile/image-grid.jpg);
  height: 8rem;
  background-size: cover;
  position: relative;
  top: 3rem;
}

.up-above {
  background-image: url(images/mobile/image-from-above.jpg);
  height: 8rem;
  background-size: cover;
  position: relative;
  top: 4rem;
}

.borealis {
  background-image: url(images/mobile/image-pocket-borealis.jpg);

  height: 8rem;
  background-size: cover;
  position: relative;
  top: 5rem;
}

.curiosity {
  height: 8rem;
  background-size: cover;
  background-position: top;
  position: relative;
  top: 6rem;
}
  
.fisheye {
  height: 8rem;
  background-size: cover;
  position: relative;
  top: 7rem;
}  

  .creations {
  margin: 0 auto;
  padding-bottom: 2rem;
} 
  
.up-above-title.title {
  width: 13rem;
  top: 2rem;
  left: 1rem;
}
.car {
}
.car-title.title {
  top: 4rem;
  left: 1rem;
}
  
  
.title {
  font-weight: lighter;
  font-size: 2rem;
  color: white;
  position: relative;
}
.earth-title.title {
  top: 2rem;
  width: 6rem;
  left: 1rem;
}
.arcade-title.title {
}
.arcade-title.title {
  width: 23rem;
  top: -3rem;
  left: 1rem;
  /*! filter: brightness(100%); */
  z-index: 5;
}
.soccer-title.title {
  top: 4rem;
  left: 1rem;
}
.borealis-title.title {
  top: 4rem;
  left: 1rem;
}
.curiosity-title.title {
  top: -3rem;
  left: 1rem;
  z-index: 5;
}
.fisheye-title.title {
  top: -3rem;
  left: 1rem;
  z-index: 5;
}
.credit {
  background: black;
  position: relative;
  top: 20rem;
  height: 48rem;
  overflow: hidden;
}
#footer-links {
  position: relative;
  top: 3rem;
  padding: 0 8rem;
}
.attribution {
  position: relative;
  top: 9rem;
  text-align: center;
  background: black;
  /*! height: 10rem; */
  padding-bottom: -1rem;
}
.icons {
  /*! margin: 0 1rem; */
  position: relative;
  left: -1rem;
}

.arcade-img {
  background-image: url(images/mobile/image-night-arcade.jpg);
  background-size: cover;
  /*! width: 18rem; */
  height: 7rem;
  filter: brightness(90%);
}
.curiosity-img {
  background-image: url(images/mobile/image-curiosity.jpg);
  /*! width: 18rem; */
  height: 8rem;
  background-size: cover;
  background-position-y: 8rem;
  background-repeat: none;
  background-position-x: -4rem;
  filter: brightness(90%);
}
.fisheye-img {
  background-image: url(images/mobile/image-fisheye.jpg);
  /*! width: 18rem; */
  height: 8rem;
  background-size: cover;
  background-position-y: 24rem;
  filter: brightness(90%);
}
}